header {
    background-color: #00395b;
    padding: 25px 0;
    nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        a {
            text-decoration: none;
        }
        .logo-wrap {
            flex: 0 0 25%;
            max-width: 180px;
        }
        ul {
            flex: 0 0 60%;
            max-width: 60%;
            display: flex;
            text-align: right;
            justify-content: flex-end;
            li {
                flex: 0 0 15%;
                max-width: 15%;
                list-style: none;
                text-align: center;
                padding: 8px 0;
                a {
                    font-size: 16px;
                    color: #ffffff;
                }
            }
        }
        .btn-wrap {
            flex: 0 0 15%;
            max-width: 15%;
            text-align: center;
            a {
                color: #ffffff;
                font-size: 16px;
                padding: 23px 37px;
                background-color: red;
            }
        }
    }
}
